@using TaskLauncher.Api.Contracts.Responses
@if (Tasks.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Tasks)
            {
                <tr>
                    <td>
                    </td>
                    <td class="align-middle">
                        <a href="tasks/@task.Id">@task.Name</a>
                    </td>
                    <td class="align-middle">
                        @task.Description
                    </td>
                    <td class="align-middle">
                        @task.ActualStatus
                    </td>
                    <td class="align-middle">
                    </td>
                    <td class="align-middle">
                    </td>
                </tr>
             }
            </tbody>
    </table>
}
else
{
    <span>
        No tasks ...
    </span>   
}

@code{
    [Parameter]
    public List<TaskResponse> Tasks { get; set; }
}