@page "/config"
@attribute [Authorize(Roles = "admin")]

<p>TODO konfigurace systemovych hodnot</p>

<p>Task timeout</p>
<input id="taskTimeout" name="taskTimeout" placeholder="Task timeout" @bind-value ="TaskTimeout"/>

<p>Delete fil after</p>
<input id="deleteFiles" name="deleteFiles" placeholder="Delete files after" @bind-value ="DeleteFilesAfter"/>

<button class="btn btn-success" @onclick="SaveAsync">Save</button>
