@page "/users"

<AuthorizeView Roles="admin">
    <Authorized>
        @if (task.IsCompleted)
        {
            <GridComponent T="Auth0.ManagementApi.Models.User" Grid="@grid"></GridComponent>
        }
        else
        {
            <p><em>Loading...</em></p>
        }
    </Authorized>
    <NotAuthorized>
        You have to login
    </NotAuthorized>
</AuthorizeView>

