@page "/tasks"
@attribute [Authorize]

<PageTitle>Tasks</PageTitle>

<a class="btn btn-primary" href="/tasks/add"> <span class="si-text">Add new task</span> </a>

<div class="row">
    @if (loading)
    {
        <span>
            Loading
            <span class="spinner-border spinner-border-sm mr-1"></span>
        </span>
    }
    else
    {
        <TaskList Tasks="taskList" />
    }
</div>

