@page "/tasks"
@page "/{id}/tasks"
@attribute [Authorize]

<PageTitle>Tasks</PageTitle>

<div style="margin-bottom: 20px;">
    <a class="btn btn-primary" href="/tasks/add"> <span class="si-text">Add new task</span> </a>
</div>

<SpinLoader IsLoading="@(isLoading)" Spinner="SpinnerType.Circle">
    <ContentTemplate>
        <TaskList Tasks="taskList" />
    </ContentTemplate>
</SpinLoader>
