@page "/profile"
@using System.Security.Claims
@using TaskLauncher.Common.Models
@attribute [Authorize]
@inject HttpClient client
@inject DialogService DialogService
@inject NavigationManager NavigationManager 

<SpinLoader IsLoading="@(loading)" Spinner="SpinnerType.Circle">
    <ContentTemplate>
        
        <ProfileComponent User=User />

        <AuthorizeView Policy="can-cancel-account">
            <Authorized>
                <button class="btn btn-danger" @onclick="CancelAsync">Cancel account</button>
            </Authorized>
        </AuthorizeView>

    </ContentTemplate>
</SpinLoader>

@code
{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected bool loading = true;
    protected UserModel User { get; set; } = new();

    protected async override Task OnInitializedAsync()
    {
        var principal = (await authenticationStateTask).User;
        User = new()
        {
            UserId = principal.Claims.SingleOrDefault(i => i.Type == ClaimTypes.NameIdentifier)!.Value,
            NickName = principal.Claims.SingleOrDefault(i => i.Type == "nickname")!.Value,
            Email = principal.Identity!.Name,
            Picture = principal.Claims.SingleOrDefault(i => i.Type == "picture")!.Value,
            Vip = bool.Parse(principal.Claims.SingleOrDefault(i => i.Type == "https://wutshot-test-api.com/vip")!.Value)
        };
        loading = false;
    }

    async Task CancelAsync()
    {
        var tmp = await DialogService.Confirm("Are you sure?", "Accout deletion", new ConfirmOptions() { OkButtonText = "Yes", CancelButtonText = "No" });
        if (!tmp.HasValue)
            return;
        if (!tmp.Value)
            return;

        await client.DeleteAsync("auth/user/" + User.UserId);
        NavigationManager.NavigateTo("/", true);
    }
}