@using TaskLauncher.Common
@using TaskLauncher.Common.Extensions
@using TaskLauncher.App.Client.Store

<AuthorizeView Policy="@Constants.Policies.UserPolicy">
    <Authorized>
        @if(!string.IsNullOrEmpty(balance))
        {
            <p style="margin: 0px; margin-left: 20px"><b>Balance: @balance</b></p>
        }
    </Authorized>
</AuthorizeView>