@using TaskLauncher.Common
@inject ApiClient httpClient

<AuthorizeView Policy="@Constants.Policies.EmailNotConfirmed">
    <Authorized>
        <div class="display: block">
            <p>Potvrďte email. Po potvrzení emailu aktualizujte stránku</p>
            <button class="btn btn-primary" @onclick="SendEmail">Pošli znovu potvrzovací email</button>
        </div>
    </Authorized>
</AuthorizeView>

@code
{
    async Task SendEmail()
    {
        var result = await httpClient.PostAsJsonAsync("auth/verify-email", new{});
    }
}