@using Microsoft.Extensions.Primitives
@using TaskLauncher.Api.Contracts.Responses
@inject NavigationManager NavigationManager
@inject ApiClient client

<GridComponent T="TaskResponse" Grid="@taskGrid"></GridComponent>

@code{
    [Parameter]
    public string UserId { get; set; } = "";

    private CGrid<TaskResponse> taskGrid;

    Action<IGridColumnCollection<TaskResponse>> columns = c =>
    {
        c.Add(o => o.Name).Encoded(false).Sanitized(false).RenderValueAs(o => $"<a href='tasks/{o.Id}'>{o.Name}</a>").Sortable(true).Filterable(true);
        c.Add(o => o.Description).RenderValueAs(o => o.Description.Length > 50 ? o.Description[..50] + " ..." : o.Description).Filterable(true);
        c.Add(o => o.CreationDate).Titled("Creation date").Sortable(true).Filterable(true)
            .SortInitialDirection(GridShared.Sorting.GridSortDirection.Descending);
        c.Add(o => o.IsPriority).Titled("Priorized").Sortable(true).Filterable(true);
        c.Add(o => o.ActualStatus).Sortable(true);
        c.Add().RenderComponentAs(typeof(Components.ColumnTaskStatus)).SetWidth(150);
    };

    protected async override Task OnParametersSetAsync()
    {
        string url = NavigationManager.BaseUri + $"odata/admin/task?$filter=userid eq '{UserId}'";
        if(string.IsNullOrEmpty(UserId))
        {
            url = "odata/user/task";
        }
        var taskClient = new GridODataClient<TaskResponse>(client, url, new QueryDictionary<StringValues>(), false, "taskGrid", columns, 10)
            .ChangePageSize(true)
            .Sortable()
            .WithGridItemsCount();

        taskGrid = taskClient.Grid;
        await taskClient.UpdateGrid();
    }
}