@using TaskLauncher.Common.Enums
@using TaskLauncher.Common.Models

<TaskStatus State=Task.State/>

@if(Task.State == TaskState.Timeouted)
{
    <p>Task '<a href="tasks/@Task.Id.ToString()">@Task.Name</a>' timeouted</p>
}

@if(Task.State == TaskState.Crashed)
{
    <p>Task '<a href="tasks/@Task.Id.ToString()">@Task.Name</a>' crashed</p>
}

@if(Task.State == TaskState.FinishedSuccess)
{
    <p>Task '<a href="tasks/@Task.Id.ToString()">@Task.Name</a>' finished successfully</p>
}

@if(Task.State == TaskState.FinishedFailure)
{
    <p>Task '<a href="tasks/@Task.Id.ToString()">@Task.Name</a>' finished with error</p>
}

@code{
    public TaskModel Task{ get; set; }
}