@page "/profile"
@using System.Security.Claims
@using Microsoft.Extensions.Primitives
@using TaskLauncher.Api.Contracts.Responses
@using TaskLauncher.Common
@using TaskLauncher.Common.Extensions
@using TaskLauncher.Common.Models
@attribute [Authorize(Policy = Constants.Policies.CanHaveProfilePolicy)]
@inject ApiClient client
@inject DialogService DialogService
@inject NavigationManager NavigationManager
@inject IToastService ToastService

@*Stranka pro uzivatelsky profil*@
<SpinLoader IsLoading="@(loading)" Spinner="SpinnerType.Circle">
    <ContentTemplate>
        <div class="container">
            <div class="row">
                <ProfileComponent User=User />
            </div>

            <div class="row" style="margin:10px; width:350px">
                <div class="col">
                    <AuthorizeView Policy="@Constants.Policies.CanCancelAccount">
                        <Authorized>
                            <button class="btn btn-danger" @onclick="CancelAsync">Cancel account</button>
                        </Authorized>
                    </AuthorizeView>
                </div>
                <div class="col" style="margin-left:15px">
                    <button class="btn btn-danger" @onclick="ResetPasswordAsync">Reset password</button>
                </div>
            </div>

            <AuthorizeView Policy="@Constants.Policies.UserPolicy">
                <Authorized>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <RadzenTabs TabPosition="TabPosition.Top" style="max-width: 1500px;" RenderMode="TabRenderMode.Client">
                                    <Tabs>
                                        <RadzenTabsItem Text="Payments">
                                            <PaymentsComponent />
                                        </RadzenTabsItem>
                                    </Tabs>
                                </RadzenTabs>
                            </div>
                        </div>
                    </div>
                </Authorized>
            </AuthorizeView>
        </div>

    </ContentTemplate>
</SpinLoader>

@code
{
    protected bool loading = true;
    protected UserModel User { get; set; } = new();

    protected async override Task OnInitializedAsync()
    {
        User = (await client.GetFromJsonAsync<UserModel>("api/user"))!;
        loading = false;
    }

    //reset hesla
    async Task ResetPasswordAsync()
    {
        var response = await client.PostAsJsonAsync("auth/reset-password", new { });
        if (response is not null && response.IsSuccessStatusCode)
        {
            var tmp = await response.Content.ReadFromJsonAsync<ResetPasswordResponse>();
            ToastService.ShowInfo(tmp!.Message);
        }
    }

    //zruseni uctu (pouze pro normalniho uzivatele)
    async Task CancelAsync()
    {
        var tmp = await DialogService.Confirm("Are you sure?", "Accout deletion", new ConfirmOptions() { OkButtonText = "Yes", CancelButtonText = "No" });
        if (!tmp.HasValue)
            return;
        if (!tmp.Value)
            return;

        await client.DeleteAsync("api/user");
        NavigationManager.NavigateTo("/", true);
    }
}