@page "/"
@using TaskLauncher.Api.Contracts.Responses
@inject ApiClient client
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Authorization
@using TaskLauncher.App.Client.Components.Graphs
@using TaskLauncher.Common

<PageTitle>Index</PageTitle>

<AuthorizeView Policy="@Constants.Policies.CanViewGraphsPolicy">
    <Authorized>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <DonutGraph />
                </div>
                <div class="col-md-6">
                    <ColumnGraph />
                </div>
            </div>
            <div class="row" style="margin-top:20px; margin-bottom:20px">
                <div class="col">
                    <TimesGraph />
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <p><b>Welcome to Task Launcher</b></p>
    </NotAuthorized>
</AuthorizeView>

<EmailVerification />
